#!/usr/bin/make -f
# -*- mode: makefile; coding: utf-8 -*-

#DEB_MAKE_CHECK_TARGET = test_bitcoin
#build/bitcoind::
#	$(if $(filter nocheck,$(DEB_BUILD_OPTIONS)),,src/test_bitcoin)

DEB_INSTALL_EXAMPLES_BTICurrencyd += debian/examples/*
DEB_INSTALL_MANPAGES_BTICurrencyd += debian/manpages/*

%:
	dh --with bash-completion $@

override_dh_auto_build:
	cd src; $(MAKE) -f makefile.unix BTICurrencyd
	$(MAKE)

override_dh_auto_clean:
	if [ -f Makefile ]; then $(MAKE) clean; else rm -rf build/; rm -f BTICurrency-qt; fi
	cd src; $(MAKE) -f makefile.unix clean

override_dh_auto_configure:
	qmake BTICurrency-qt.pro USE_QRCODE=1

override_dh_auto_test:
	cd src; $(MAKE) -f makefile.unix test_BTICurrency
	src/test_BTICurrency

# Ensure wrapper is set executable
binary-post-install/BTICurrencyd:
	chmod +x $(cdbs_curdestdir)usr/bin/BTICurrencyd
binary-post-install/BTICurrency-qt:
	chmod +x $(cdbs_curdestdir)usr/bin/BTICurrency-qt
